{# login.html.twig extends 'layout.html.twig' #}
{% extends 'security/layout.html.twig' %}

{% block footer_content %}
    {% block hyperlink_create_account %}
        <div>Don't have an account? <a href="{{ path('app_register') }}">Create an account!</a></div>
    {% endblock %}
{% endblock %}
