
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/php-cs-fixer ###
.php-cs-fixer.cache
###< symfony/php-cs-fixer ###

###> public ###
# Ignore everything in the images directory
/public/resource/images/**

# Except for the following:
!/public/resource/images/**/.gitkeep
!/public/resource/images/system/check-png.webp

###< JetBrains ###
/.idea
###< JetBrains ###