{% 
    set payload = attribute(_context, 'js:payload')|merge({
        userToken: csrf_token('app_user'),
        asyncNotificationRoute: path(constant('App\\Controller\\Initial\\Notification\\NotificationController::ROUTE_NAME')),
    })
%}

<div id="app-js-payload" data-js-payload="{{ payload|json_encode|base64_encode|raw }}"></div>