<div class="modal-wrapper">

    {# all modals are cleared after being accessed just like flash #}

    {% for bs_modal in eau.modals(true) %}

        {% include 'utility/modal/item.html.twig' with {
            'modalClass': bs_modal.modalClassName,
            'modalId': bs_modal.id,
            'modalName': bs_modal.name,
            'modalBackdrop': bs_modal.backdrop,
            'modalKeyboard': bs_modal.keyboardEnabled,
            'modalDialogClass': bs_modal.dialogClassName,
            'modalTitle': bs_modal.title,
            'modalCloseButtonHidden': bs_modal.closeButtonHidden,
            'modalContent': bs_modal.content,
            'modalButtons': bs_modal.buttons,
            'modalVisible': bs_modal.visible
        } %}

    {% endfor %}

</div>