/**
Custom Style Configuration
--------------------------

Customizing CSS using variables can greatly enhance maintainability and flexibility in your stylesheets. 
By defining variables at the root level (:root), you establish a centralized repository of values that 
can be easily adjusted throughout your project.

For instance:

:root {
    --sidebar-bg: lightgrey;
    --main-text-color: black;
    --accent-color: var(--sidebar-bg);
}

These variables can then be applied across your stylesheets, promoting consistency and making it simpler to 
update your design scheme in the future.
*/
body {
    word-wrap: break-word;
}

.page-login{
    background-color: var(--bs-gray-200);
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.page-login .main-header .header-logo img {
    height: 92px;
}

.form-check {
    padding-left: initial;
}

.eau-flash {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.login-wrapper .form-widget input[type=checkbox] {
    background-color: var(--bs-primary);
    height: 15px;
}

.login-wrapper .input-group .btn {
    --input-addon-height: 36px;
    height: var(--input-addon-height);
}

.login-wrapper .input-group .input-group-text {
    height: calc(var(--input-addon-height) + 2px);
}

.login-wrapper .content {
    padding: 3rem;
}

.input-group > .input-group-prepend > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-group-append > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input[type="text"] ~ .btn[data-password-toggle] > i::before {
    content: "\f070";
}

.form-widget .form-check {
    display: flex;
}

@media (min-width: 992px) {
    .eau-login-wrapper {
        margin: auto;
        width: 100%;
    }
}