{% extends ea.templatePath('layout') %}

{% block body_class 'bg-light' %}

{% block wrapper_wrapper %}

    <div class="container col-xxl-7 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5 min-vh-100">

            <div class="col-lg-7 mx-auto">

                <h4 class="fw-semibold text-body-emphasis lh-1 mb-4 text-center">
                    <u>Check Your Inbox</u>
                </h4>

                <div class="fs-6 text-center mb-3">
                    If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password. 
                    <hr/>
                    The link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </div>

                <p class="fs-6 border p-3 text-center rounded border-3">
                    If you don't receive an email, please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>
                </p>

                <div class="py-2">
                    <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg px-4 me-md-2 w-100 p-2">
                        Back To Login
                    </a>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
