{% extends 'security/layout.html.twig' %}

{% block security_form %}

    {{ form_start(requestForm) }}
        
        {{ form_row(requestForm.email) }}

    {{ form_end(requestForm) }}

{% endblock %}

{% block footer_content %}
    {% block hyperlink_login %}
        <div>Remembered your password? <a href="{{ path('app_login') }}">Back to login</a></div>
    {% endblock %}
{% endblock %}
