{% extends 'security/layout.html.twig' %}

{% block security_form %}

    {{ form_start(resetForm) }}

        {{ form_row(resetForm.plainPassword) }}

        <button class="btn btn-primary">Reset password</button>

    {{ form_end(resetForm) }}

{% endblock %}
