{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}

    <h4>Welcome to (Symfony) User Synthetics Dashboard</h4>

    <hr>

    Building website just got a whole lot easier

    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class='border'>
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>

{% endblock %}