{% extends ea.templatePath('layout') %}

{% block main %}
    
    <div class="container">
        <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
            <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
            <h1 class="text-body-emphasis mb-4">User Synthetics</h1>
            <p class="col-lg-6 mx-auto">
                User Synthetics is no longer a stand alone project but now built on the foundation of symfony.
                A platform know for it's long term stability and versatility. 
            </p>
            <p>
                To edit this page, clear the context in <span class='text-primary'>templates/admin/index.html.twig</span> and make adquate modification
            </p>
        </div>
    </div>

{% endblock %}